<app-navbar></app-navbar>

<app-herobar class="main-header">

    <h2 class="display-3">Angular Agency</h2>
    <h4 class="pt4">Hi, I am Jacob! I am a Angular Developer</h4>
    <h4 class="pt4">Welcome to my Web Portfolio</h4>

</app-herobar>

<!-- What Am I -->

<div class="container">
    <h2 class="mt-4 text-center">What Am I</h2>
    <div class="row py-4">
        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                A accusantium consectetur recusandae in, corporis et explicabo molestiae dolores,
                dignissimos incidunt officiis magnam non eligendi dicta voluptates at libero praesentium eveniet.</p>
            <a href="#" [hidden]="readmore" (click)="readmore = !readmore">Read More</a>


            <p *ngIf="readmore" appSlideIn >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                A accusantium consectetur recusandae in, corporis et explicabo molestiae dolores,
                dignissimos incidunt officiis magnam non eligendi dicta voluptates at libero praesentium eveniet.</p>

            <ng-template [ngIf]=" readmore ">
            </ng-template>

        </div>
        <div class="col">
            <app-progressbar value="25" label="Angular" status="danger" striped></app-progressbar>
            <app-progressbar value="50" label="CSS" status="info" striped></app-progressbar>
            <app-progressbar value="75" label="HTML" status="success" striped></app-progressbar>
        </div>
    </div>
</div>
<!-- What I do -->
<div class="container">
    <h2 class="mt-4 text-center">What I Do</h2>
    <hr>
    <div class="row py-4">
        <div class="col-md-6 col-12 p2" appSlideIn="left" [delay]="2000">
            <!-- -->
            <div class="nav flex-column nav-pills text-lg-right">
                <a href="javascript:" class="nav-link" (click)="currentTab = 'marketing'">Mobile Applications</a>
                <a href="javascript:" class="nav-link" (click)="currentTab = 'mobile'">Websites with CMS</a>
                <a href="javascript:" class="nav-link" (click)="currentTab = 'websites'">Web Applications</a>
                <a href="javascript:" class="nav-link" (click)="currentTab = 'web'">Marketing and sales langing
                    pages</a>
            </div>
            <!-- -->
        </div>
        <div  appSlideIn="right" [delay]="3000" class="col-md-6 col-12 pb-2 order-first order-lg-last">
            <div class="d-flex flex-column h-100" [ngSwitch]="currentTab">
                <div class="my-auto" *ngSwitchDefault>
                    <h3>I Offer a variety of quality serivces</h3>
                    <p>&laquo; Please select option to learn more</p>
                </div>

                <div *ngSwitchCase="'marketing'">
                    <p><strong>Marketing and sales langing pages<br></strong>Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Quia voluptas officiis consectetur officia
                        voluptatibus expedita, hic optio adipisci pariatur quis eos perspiciatis.
                        Natus voluptate ab, fugit fuga illum autem quaerat!</p>
                </div>
                <div *ngSwitchCase="'mobile'">
                    <p><strong>Mobile Appliactions<br></strong>Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Quia voluptas officiis consectetur officia
                        voluptatibus expedita, hic optio adipisci pariatur quis eos perspiciatis.
                        Natus voluptate ab, fugit fuga illum autem quaerat!</p>
                </div>
                <div *ngSwitchCase="'websites'">
                    <p><strong>Websites with CMS<br></strong>Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Quia voluptas officiis consectetur officia
                        voluptatibus expedita, hic optio adipisci pariatur quis eos perspiciatis.
                        Natus voluptate ab, fugit fuga illum autem quaerat!</p>
                </div>
                <div *ngSwitchCase="'web'">
                    <p><strong>Web Appliactions<br></strong>Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Quia voluptas officiis consectetur officia
                        voluptatibus expedita, hic optio adipisci pariatur quis eos perspiciatis.
                        Natus voluptate ab, fugit fuga illum autem quaerat!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- My recent projects -->

<div class="container">
    <h2 class="mt-4 text-center">My Recent projects</h2>
    <hr>
    <div class="row py-4">
        <!-- <ng-template ngFor let-project="$implicit" [ngForOf]="recentProjects" let-first="first">
        </ng-template> -->
        <div class="col" *ngFor="let project of recentProjects; let isLast = last; let isFirst = first; index as i "
            [ngClass]="{firtProject: isLast == true, lastProject: isFirst == true}">
            <div class="card">
                <img class="img-fluid" [src]="project.image">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <button class="btn btn-link">Read more</button>
                </div>
            </div>
        </div>  

    </div>
    <!-- <div class="text-center pb-5 dispay-3">
        <a href="javascript:;" class="btn btn-link">&raquo; Show more projects &laquo;</a>
    </div> -->
</div>

<!-- My Work In Numbers -->

<div class="container">
    <h2 class="mt-4 text-center" >My Work In Numbers</h2>
    <hr>
    <div class="d-flex flex-column flex-md-row justify-content-around pb-5">
        <app-counter [value]="100" label="Clients"></app-counter>
        <app-counter [value]="1000" label="Coffes"></app-counter>
        <app-counter [value]="11000" label="Lines of Code"></app-counter>
    </div>
</div>

<!-- Famous Quote -->

<app-herobar>
    <blockquote class="blockquote text-white text-center">
        <h4>"Such a quote ... much motivational"</h4>
        
    </blockquote>
</app-herobar>

<!-- Testimonials -->
<div class="container">
    <h2 class="mt-4 text-center">What My Clients Say</h2>
    <hr>
    <div class="row py-4">
        <div class="col py-2 px-4">
            <app-testimonial *ngFor="let testimonial of testimonials">

                <ng-container ngProjectAs="author">{{testimonial.author}}</ng-container>
                <ng-container ngProjectAs="title">{{testimonial.title}}</ng-container>

                <p>
                   {{testimonial.content}}
                </p>

                <app-avatar ngProjectAs="avatar" [image]="testimonial.image"></app-avatar>

                <app-rating *ngIf="testimonial.rating"
                 ngProjectAs="rating" [rating]="testimonial.rating"></app-rating>

            </app-testimonial>
        </div>
    </div>
</div>


<!-- Footer -->

<footer class="bg-dark text-light">
    <div class="container">
        <div class="row py-4">
            <div class="col">
                <h3>Angular Agency Website</h3>
                <p>Copyright KompuSoft</p>
            </div>
        </div>
    </div>
</footer>

<!-- <app-herobar>
    <blockquote class="blockquote text-white">
        <h4>"Such a quote... much motivational"</h4>
        <footer class="blockquote-footer text-white">Someone famous</footer>
    </blockquote>
</app-herobar> -->